.indent {
	margin-left:210px;
}
.inputMargin {
	margin: 5px;
	width: 200px;
}
.margin {
	margin: 5px;
}
.inline {
	display: inline;
}

.tableSize {
	width:125px !important;
	height: 300px !important;
	overflow: auto;
}
.centerh {
	width: 12%;
	margin: auto;
}
.centerv {
	height: 5%;
	padding-top: 13%;
}
.centerText {
	padding-left: 48% !important;
}

